.parent-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 100px;
    margin-bottom: 15px;
}